[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
  
[credential]
  helper = GIT_CREDENTIAL_HELPER

[alias]
  st = status
  br = branch
  co = checkout
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local

[color]
  ui = true
  status = auto
  branch = auto

[color "diff"]
  old = red reverse
  new = green reverse
  whitespace = white reverse

[core]
  excludesfile = ~/.gitignore
  excludesfile = .DS_Store
  excludesfile = vendor/bundle
  editor = vim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
